table {
    /* border: 2px solid rgb(0, 0, 0); */
    width: 100%;
    height: 200px;
    overflow: hidden;
    font-family: "poppins";
    font-size:10px;
  }

  .container{
    width: 1000px;
  }
/* .header{
  background-image: linear-gradient(blue,purple);
}  */

  thead {
    text-align: left;
    background-image: linear-gradient(to right,rgb(227, 86, 227),rgb(131, 131, 236));
  }

  th{
    padding-left: 5px;
    height:20px;
  }

  .heading-wrapper{
    color: white;
    display: flex;
    align-items: center;
    
   
  }

  td {
    padding: 5px;
  }

  .nameRow{
    display: flex;
    gap: 5px;
    align-items: CENTER;
    height: 100%;
  }

  /* .numRow, .marketRow, .weightRow, .valueRow{
    max-width: 10px;
  }
   */
  tr:nth-child(even) {
    background-color: #f6f8f8;
 }

 
  .profilePic{
    height:20px;
    width:auto;
   
  }

  .up-down{
    width:10px;
    fill:white;
   
  }

  .bottom{
    background-color: #e5e6e6;
  }

  @media (max-width: 768px) {
   
    .container{
      width: 80%;
    }

    table{
      font-size: 7px;
    }

    .profilePic{
      height:15px;
      width:auto;
     
    }

  
  }

  @media (max-width: 480px) {
   
    /* .container{
      width: 90%;
    } */

    table{
      font-size: 5px;
    }

    .profilePic{
      height:10px;
      width:auto;
     
    }

  
  }